

/*#container {
   background-image: url('http://www.dawsonrichey.com/images/portfolio/big/006.jpg'); 
} */
#about{
   background-image: url('http://www.dawsonrichey.com/images/portfolio/big/006.jpg');
}

.light2 {
    background-color: #ffffffd6;

   /* opacity: .7; */
}

.light {
    background-color: #33333381;
        color: #fff; 
   /* opacity: .7; */
}

h1 {
    color: #35B5F8;
}

gray {
    color: #777;
}

th {
    padding-bottom: 5px;
    text-align: right;
    padding-right: 25px;
}